header {
  position: sticky;
  top: 0;
  height: 64px;
  width: 100%;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
  border-bottom: 1px solid #e5e7eb;
  z-index: 1000;
}

/* LEFT */
.nav-left-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* RIGHT */
.nav-right-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
