.auth-wrapper {
  min-height: 100vh;
  background: #ffffff;
}

.auth-content {
  position: relative;
  max-width: 400px;
  margin: auto;
  padding-top: 80px;
}

.card {
  border-radius: 10px;
}

.input-group input {
  height: 45px;
}

.btn {
  width: 100%;
}
