nelmio_cors:

    defaults:
        origin_regex: true
        allow_origin: ['http://localhost:4200']
        allow_methods: ['GET', 'OPTIONS', 'POST', 'PUT', 'PATCH', 'DELETE']
        allow_headers: ['Content-Type', 'Authorization']
        expose_headers: ['Link', 'Content-Type', 'Authorization']
        max_age: 3600
        allow_credentials: true
    paths:
         '^/api/':
            allow_origin: ['http://localhost:4200']


