.layout {
  display: flex;
  min-height: 100vh;
  background: #f8fafc;
}

/* MAIN */
.main {
  flex: 1;
  margin-left: 260px;
  transition: margin 0.3s ease;
}

/* NAVBAR */
.navbar {
  height: 70px;
  padding: 0 24px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 100;

  transition: box-shadow 0.3s ease, background 0.3s ease;
}

/* effet scroll */
.navbar.scrolled {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* BUTTONS */
.menu-btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.icon-btn {
  background: #f1f5f9;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.icon-btn:hover {
  background: #e2e8f0;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.logout-btn:hover {
  background: #dc2626;
}

/* CONTENT */
.content {
  padding: 30px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .main {
    margin-left: 0;
  }
}



.icon-btn {
  background: #f1f5f9;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}

